* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #060e40;
  color: white;
}
header p.first {
  text-align: center;
  font-size: 1.2rem;
  background-color: #a6e1ff;
  color: #060e40;
  width: 20%;
  padding: 10px;
  border-radius: 0px 0px 50px 0px;
  margin-bottom: 20px;
}

header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
}

header .flex .texts_container h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #a6e1ff;
}
header .flex .texts_container p {
  font-size: 1.3rem;
  width: 70%;
}
header .flex .texts_container .data {
  margin: 40px 0px 10px 0px;
  font-size: 1rem;
}
header .flex .image_container {
  width: 15%;
  margin-top: 40px;
}
header .flex .image_container img {
  width: 100%;
}

main {
  margin: 50px 50px;
  color: #060e40;

}

main .p1 {
  margin-bottom: 20px;
}
main .p2 {
  margin-bottom: 30px;
  width: 95%;
}

main .p3,
main .p5,
main .p6 {
  margin-bottom: 30px;
}
main .p5{
    width: 95%;
}
/* TABELA 1 */
main .table_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}
main .table_container .table_one {
  width: 85%;
}
main .table_container .table_one td {
  width: 10%;
  height: 35px;
  border-bottom: 10px solid #fff;
  border-right: 3px solid #fff;
  background-color: #a6e1ff;
  font-weight: bold;
}
main .table_container .table_one td.dark {
  color: #fff;
  font-weight: normal;
  background-color: #060e40;
}
main .table_container .table_one td.more_space {
  border-right: 6px solid #fff;
    
  }
  
  /* TABELA 2 */

main .table_container .table_two {
    width: 85%;
    
}
main .table_container .table_two td{
    width: 10%;
    height: 25px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}
main .table_container .table_two td.more_space {
    border-right: 6px solid #fff;
      
    }
main .table_container .table_two .empty {
    background-color: #fff;
}
main .table_container .table_two .gray {
    background-color: #b3b7c6;
    color: #fff;
}
main .table_container .table_two .dark {
    background-color: #060e40;
    color: #fff;
}
main .table_container .table_two .weaker {
    background-color: #d2f0ff
    ;
    color: #060e40;
}

main .table_container .table_two .normal {
    background-color: #a6e1ff
    ;
    color: #060e40;
    font-weight: bold;
}
main .right {
  font-size: 1rem;
  font-weight: bold;
  text-align: end;
  margin-bottom: 20px;
}

footer {
  background-color: #a6e1ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  margin-top: 50px;
}

footer p {
  font-size: 1.2rem;
  color: #ec4b38;
  font-weight: bold;
}
